/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* header */
#header {
    background-color: rgb(38, 94, 234);
    display: flex;
    justify-content: center;
    height: 100px;
}
#box-header-logo {
    flex-basis: 15%;
    margin-top: 22px;
    height: 50px;
    padding-top: 8px;
}
#box-header-nav {
    display: flex;
    flex-basis: 40%;
    margin-top: 22px;
    list-style: none;
    height: 50px;
    text-align: center;
    justify-content: center;
}
.box-header-list {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: left;
    color: #fff;
}
#box-header-login {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 15%;
    margin-top: 22px;
    height: 50px;
}
#login {
    border: 1px solid;
    border-radius: 30px;
    height: 40px;
    width: 70px;
}
#box-header-list {
    list-style: none;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: left;
}
#jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid;
    border-color: rgb(38, 94, 234);
}
#jumbo-title {
    color: #fff;
    padding-left: 26%;
    font-size:40px;
}
#jumbo-text {
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 60px;
    font-size:15px;
    line-height: 30px;
}
#box-jumbo {
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    height: 400px;
}
#button-dowload {
    border: 1px solid;
    border-radius: 30px;
    border-color: #fff;
    font-size: 15px;
    margin-left: 29%;
    margin-top: 20px;
    height: 40px;
    width: 160px;
}
#button-open {
    border: 1px solid;
    border-radius: 30px;
    border-color: rgb(35, 39, 42);
    font-size: 15px;
    height: 40px;
    width: 210px;
    color: rgb(199, 203, 230);
    background-color: rgb(35, 39, 42);
    margin-left: 15px;
}
.container-w {
    background-color: rgb(255, 255, 255);
    display: flex;
    /* debug */
    justify-content: center;
    height: 600px;
}
.container-g {
    background-color: rgb(222, 222, 222);
    display: flex;
    /* debug */
    justify-content: center;
    height: 600px;
}
.box-big {
    width: 300px;
    flex-basis: 45%;
    margin-top: 50px;
    /* debug */
    height: 500px;
}
.box-small {
    margin-top: 50px;
    width: 300px;
    flex-basis: 25%;
    /* debug */
    height: 500px;
}
#container-big{
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    /* debug */
    height: 900px;
}
#container-big-box {
    flex-basis: 60%;
    margin-top: 50px;
    /* debug */
    height: 600px;
}
#big-title {
    text-align: center;
    font-size: 30px;
}
#big-title-bottom {
    text-align: center;
    font-size: 30px;
    height: 50px;
    background-image: url(../img/stars.svg);
    background-size: contain;
}
#big-p {
    margin-top: 30px;
    font-size: 15px;
}
#button-big {
    border: 1px solid;
    border-radius: 30px;
    border-color: #fff;
    height: 50px;
    width: 150px;
    margin-left: 40%;
    margin-top: 45px;
    color: #fff;
    font-size: 15px;
    background-color: rgb(141, 162, 228);
}
.box-title {
    font-size: 30px;
    line-height: 40px;
    font-style: "Whitney";
    padding-top: 35px;
}
.box-p {
    font-size: 20px;
    line-height: 30px;
    font-style: "Whitney";
    margin-top: 30px;
}

/* footer */

    /* box-5 */
#container-bottom {
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    /* debug */
    height: 600px;
}
.box-bottom-big {
    width: 300px;
    flex-basis: 24%;
    margin-top: 50px;
    margin-right: 50px;
    padding-right: 40px;

}
.box-bottom-small {
    width: 300px;
    flex-basis: 11.5%;
    margin-top: 50px;
    /* debug */
    height: 500px;
}
#bottom-title {
    text-align: center;
    font-size: 30px;
    color: rgb(86, 118, 197);
}
.bottom-p {
    font-size: 15px;
    color: #fff;
}
.icons {
    padding-top: 30px;
    padding-left: 30px;
   
}
/* box-6 */
#container-end {
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    /* debug */
    height: 100px;
}
#box-end{
    width: 300px;
    flex-basis: 70%;
    margin-top: 28px;
    height: 70px;
}
.ul-bottom{
   list-style: none;
   padding-top: 13px;
}
.li-bottom{
    margin-bottom: 15px;
    color: #fff; 
}
.color-purple {
    color: rgb(86, 118, 197);
}
.white {
    color: #fff;
}
#button-bottom {
    border: 1px solid;
    border-style: none;
    margin-top: 13px;
    height: 50px;
    width: 90px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(86, 118, 197);
}
#ita {
    height: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
#italiano {
    font-size: 13px;
    text-align: center;
    color: #fff;
}
